@import "variables.scss";
@import "abstractions.scss";
// @TODO resolve imports via alias
@import "../../../node_modules/searchkit/theming/components.scss";

$sk-sidebar-spacing: 20px;

body {
  margin:0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sk-layout {
  box-sizing: border-box;
  background: $sk-layout-background;
  font-family: $sk-font-family;
  user-select: none;

  @include breakpoint('small-desk') {
    &__body {
      display: flex;
      margin: auto 0;
    }
  }

  &__filters {
    background:$sk-layout-panel-background;
    padding:15px;
    flex:0 0 246px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.08);

    .sk-refinement-list,
    .sk-range-filter,
    .sk-hierarchical-menu-list,
    .sk-numeric-refinement-list,
    .sk-hierarchical-refinement-list {
      margin-bottom: $sk-sidebar-spacing;
    }

    .sk-select {
      width:100%;
    }

    .sk-range-input {
      margin-top:10px;
    }

    // .sk-selected-filters {
    //   flex-flow: column nowrap;
    //   &-option {
    //     margin-right:0;
    //     margin-bottom:10px;
    //   }
    // }
  }

  &__results {
    background:$sk-layout-panel-background;
    flex:auto;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.08);
  }

  @include breakpoint('small-desk') {
    &__results {
      min-height:600px;
    }
  }
}


.sk-layout {
  &__size-l {
    .sk-layout__body {
      max-width:100%;
    }
  }

  &__size-m {
    .sk-layout__body {
      max-width:960px;
    }
  }
}

.sk-action-bar {
  display:flex;
  flex-flow: column wrap;
  margin:0 15px 15px;

  &-row {
    display:flex;
    flex-flow: row wrap;
    margin:0px 0 10px;

    &:last-child {
      margin:0;
    }
  }

  .sk-hits-stats {
    line-height: 30px;
  }
}

.sk-results-list {
  padding:15px 0;
}

// components

.sk-search-box {
  background-color: $sk-button-background;
  border-radius: $sk-border-radius;
  margin-bottom: $sk-sidebar-spacing;
  position: relative;
  display: flex;
  flex: 1;

  &.is-focused {
    background: white;
    border-bottom: 3px solid $sk-text-color;
    margin-bottom: $sk-sidebar-spacing - 3px;
  }

  &.is-focused &__text {
    color: $sk-text-color;
  }

  &.is-focused &__text::-webkit-input-placeholder  {
    color: $sk-text-color;
    font-weight:$sk-light-weight;
  }

  form {
    width:100%;
  }

  input.sk-search-box__text {
    -webkit-box-shadow: none;
    box-shadow: none;
    background:transparent;
    flex: 1;
    padding-left:10px;
    padding-right:10px;
    user-select: initial;
    width: auto;

    &::-webkit-input-placeholder  {
      color: $sk-placeholder-color;
      font-weight:100;
    }
  }

  &__action {
    display:none;
  }
}

.sk-panel {
  &__header {
    background-color: $sk-button-background;
    padding: 6px 10px;
    margin-bottom: 5px;

    &.is-collapsable {
      padding-left: 25px;

      &:after {
        left: 5px;
        margin-top: -2px;
      }

      &.is-collapsed {
        &:after {
          left: 7px;
        }
      }
    }
  }

  &.filter--district,
  &.filter--target_audience {
    .sk-panel__header {
      display: none;
    }
  }
}

.sk-item-list {
  &__item {
    background-color: $sk-item-background;
    padding: 9px 10px;
    margin-bottom: 8px;

    &.is-active {
      border-left: 4px solid $sk-text-color;
    }
  }
}

.sk-item-list-option.is-histogram {
  .sk-item-list-option {
    &__count {
      color: $sk-text-color;
    }

    &__bar-container {
      background-color: $sk-item-background;
      border-radius: 0;
    }

    &__bar {
      background-color: $sk-button-background;
      border-radius: 0;
    }
  }
}

.sk-hierarchical-refinement-list {
  &__header {
    background-color: $sk-button-background;
    color: $sk-title-color;
    padding: 6px 10px;
    margin-bottom: 5px;
  }
}

.sk-hierarchical-refinement-option {
  background-color: $sk-item-background;
  color: $sk-text-color;
  padding: 9px 10px;
  margin-bottom: 5px;
  user-select: none;

  &__text {
  }

  &__count {
    border-radius: 0;
  }

  &.is-selected {
    border-left: 4px solid $sk-text-color;
  }

  &.is-weekend {
    .sk-hierarchical-refinement-option__text {
      font-weight: 400;
      color: lighten($sk-text-color, 15%);
    }
  }
}

.sk-refinement-list__view-more-action {
  background-color: $sk-button-background;
  padding: 9px 10px;
  margin-bottom: 5px;
  text-align: center;
}

.sk-hits-stats {
  align-self: flex-start;
  flex:1;

  &__info {
    font-size: $font-size-h2;
  }
}

.sk-range-filter {
  .rc-slider-handle {
    border-color: $sk-primary-theme-color;
  }
  .rc-slider-track {
    background-color: rgba(156, 162, 153, 0.5);
  }
}

.sk-reset-filters {
  border:none;
  display:flex;
  font-size:14px;
  margin:0;
  padding-left:0;
}

.sk-pagination-navigation {
  margin: 20px auto;
}

.sk-pagination-select {
  margin: 10px auto;
  text-align:center;
}

.sk-hits-grid, .sk-hits-list {
  margin:0 15px 20px;
}

.sk-hits-grid {
  &__no-results {
    text-align:center;
    margin-top:60px;
  }

  &__item {
    flex:1 1 250px;
    display:flex;
    margin-bottom:20px;
  }
}

.sk-hits-grid-hit {
  padding:10px;
  max-width:250px;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
  flex: 190px 0 0;

  em {
    background:yellow;
  }

  a {
    text-decoration: none;
    color: $sk-action-text-color;
  }
  &__title {
    margin-top:10px;
    font-size:14px;
  }
}

.sk-action-bar {
  .sk-select, .sk-toggle {
    margin-left:15px;
  }
}

.sk-layout__filters {
  .sk-select select {
    width: 100%
  }

  .sk-panel {
    margin-bottom: $sk-sidebar-spacing;
  }
}

.sk-toggle {
   max-height: initial;
//   display: block;
}

.sk-toggle-option {
  padding: 9px 0;

  &.is-disabled {
    background-color: transparent;
  }
}

.sk-search-box__loader {
  flex: 0 0 20px;

  &.is-hidden {
    display: block !important; // drupal overrides this otherwise
    visibility: hidden;
    animation: none; // stop spinning while hidden
  }
}

.sk-hits {
  user-select: initial;
}
