// These were just copied over from the DriveTurku theme.
// Turku colors
$turku-lime: #00a97a;
$turku-mint: #76c6bb;
$turku-orange: #e56d40;
$turku-pink: #e0436f;
$turku-gray: #d5d4cf;
$turku-blue: #00aeef;
$turku-yellow: #f8bb4e;
$turku-black: #111;
$turku-white: #fff;
$turku-red: #ed1a3b;
$turku-green: #BBD80A;
$turku-pink: #ed0c6e;
$turku-beige: #c3c4b7;

// Visit Turku colors
$visit-turku-orange: #f26522;
$visit-turku-grey: #878787;
$visit-turku-light-grey: #7e7e7e;
$visit-turku-xl-grey: #dfdfdf;
$visit-turku-xxl-grey: #efefef;

$bg: #13699f;
$highlighted-bg: #acacac;
$sub-page-highlighted-bg: #ececec;
$after-content-bg: #fff;
$content-bg: #e3e3e3;
$footer-bg: #006bb6;
$navigation-bg: #fafafa;
$mobile-navigation-bg: #fff;
$mobile-navigation-2nd-level-bg: #eaeae9;
$mobile-navigation-item-bg: #f5f5f5;
$language-switcher-bg: #d7d7d7;

$header-default: rgb(0, 55, 94);
$header-bg: lighten($header-default, 10%);
$header-overlay-bg: rgba($header-default, 0.7);
$flexslider-bg: $header-default;

$body-font-color: #1d1d1a;
$liftup-color: #363636;

$link-color: #026892;
$footer-link-color: #ffffff;

$blockquote-border-color: $turku-green;

$mobile-navigation-color: #22bdff;

$light-blue: #A0CDEA;
$twitter-blue: #55ACEE;
$light-gray: #EDEEF2;
$dark-gray: #C2C4D9;
$darker-gray: #B5B5B5;

$body-font: 'Open Sans', sans-serif;

$base-font-size: 16px;

$font-size-h1: 2.286em;
$font-size-h2: 1.286em;
$font-size-h3: 1em;

$navigation-font: Helvetica Neue, Helvetica, Arial, sans-serif;

$paragraph-font-size: 1.071em;
$ingress-font-size: 1.286em;

$turkucalendar-white: #FFFFFF;
$turkucalendar-red: #ED0C6E;
$turkucalendar-cyan: #7DCDC8;
$turkucalendar-lightergray: #FAFCFD;
$turkucalendar-lightgray: #F1F3F7;
$turkucalendar-mediumgray: #78797B;
$turkucalendar-gray: #37475E;
$turkucalendar-darkgray: #2F3C50;
$turkucalendar-blue: #00AEEF;
$turkucalendar-black: #000000;
$turkucalendar-orange: #DAA72D;
$turkucalendar-aqua: #8DCEC9;

$turkucalendar-events: $turkucalendar-red;
$turkucalendar-hobbies: $turkucalendar-aqua;

$turkucalendar-background: $turkucalendar-gray;
$turkucalendar-filter-background: $turkucalendar-background;
$turkucalendar-filter-button-background: $turkucalendar-red;
$turkucalendar-filter-button-text-color: $turkucalendar-lightgray;
$turkucalendar-text-color: $turkucalendar-red;
$turkucalendar-content-header-border-color: #DFDFE0;
$turkucalendar-grid-sponsored-tag-background: rgba($turkucalendar-black, 0.8);
$turkucalendar-grid-sold-out-tag-background: rgba($turkucalendar-orange, 0.8);
$turkucalendar-content-wrapper-background: $turkucalendar-lightergray;
$turkucalendar-content-background: $turkucalendar-white;
$turkucalendar-ajax-fade-background: $turkucalendar-lightergray;
$turkucalendar-some-buttons-background: #F9FAFB;
$turkucalendar-footer-background: $turkucalendar-gray;
$turkucalendar-footer-link-color: $turkucalendar-blue;
$turkucalendar-subfooter-background: #343E51;
$turkucalendar-flexslider-some-buttons: #58606D;
$turkucalendar-flexslider-some-buttons-background: #949DAB;

$turkucalendar-fade: mix($turkucalendar-black, $turkucalendar-orange, 90%);

// Searchkit variables.
$sk-bold-weight: 700;
$sk-medium-weight: 400;
$sk-light-weight: 200;

$sk-font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, sans-serif;

$sk-layout-background: none;
$sk-layout-panel-background: none;
$sk-primary-theme-color: $turkucalendar-gray;
$sk-active-bg-color: $body-font-color;
$sk-border-color: $turkucalendar-gray;
$sk-title-color: $turkucalendar-gray;
$sk-text-color: $body-font-color;
$sk-text-secondary-color: $body-font-color;
$sk-list-text-color: $body-font-color;
$sk-list-secondary-text-color: $body-font-color;
$sk-action-text-color: $turkucalendar-gray;
// $sk-action-active-color: #000 !default;
$sk-disabled-text-color: lighten($body-font-color, 52%);
$sk-remove-action-color: $turkucalendar-red;

$sk-selector-background: $turkucalendar-lightgray;
$sk-selector-active-background: $turkucalendar-gray;
$sk-selector-border-color: transparent;
$sk-selector-text-color: $body-font-color;
// $sk-selector-active-text-color: white !default;

$sk-selected-filters-background: $turkucalendar-lightgray;

$sk-heading-font-size: $font-size-h2;
$sk-text-font-size: $paragraph-font-size;
$sk-list-font-size: $paragraph-font-size;
$sk-action-font-size: $paragraph-font-size;
$sk-list-secondary-font-size: $paragraph-font-size;

$sk-border-radius: 0;

// Custom variables.
$sk-button-background: $turkucalendar-lightgray;
$sk-item-background: $turkucalendar-lightergray;
$sk-placeholder-color: $turkucalendar-mediumgray;

// Breakpoints.

$breakpoints: (
  'mobile': 0px,
  'phablet': 321px,
  'tablet': 551px,
  'small-desk': 769px,
  'mobi-navi': 946px,
  'desk': 1138px,
  'large-desk': 1320px,
  'huge-desk': 1620px,
);